@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #48C9B0;
    --padding-elementos-nav: 10px 50px;
    --orange: #F5B041;
    --verde-pastel: #D5F5E3;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    max-width: 1440px;
}

.navbar1 {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 12px;

}

.navbar1 p {
    padding-left: 35px;
    padding-top: 10px;
}

.navbar1 p span {
    text-decoration: underline;
    font-weight: bolder;
}

.languageMoneda {
    padding-right: 35px;
}

.languageMoneda img {
    width: 35px;
    height: auto;
}

.navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.navbar2 .logo {
    width: 150px;
    height: 25px;
    object-fit: cover;
}

input {
    width: 300px;
    height: 30px;
    margin-top: 6px;
}

.btnNav2 {
    border: none;
    border-right: 2px solid black;
}

.icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}


.busqueda {
    position: relative;
    right: 42px;
    bottom: 3px;
    background-color: #F5B041;
    border: none;
    width: 36px;
}

.Navbar3 {
    background-color: white;
    color: rgb(92, 88, 88);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navbar3 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    list-style: none;
    gap: 20px;

}

.allCategories {
    background-color: #48C9B0;
    border-radius: 5px;
    border: #48C9B0;
    width: 180px;
}

.rayito {
    background-color: #48c9af56;
    border: 1px solid #48C9B0;
}

.imgMain {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;

}

.imgPrincipal1 {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.imgPrincipal {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imgPrincipa3 {
    width: 25%;
    height: auto;
    object-fit: cover;
}

/*card*/
main {
    display: flex;
    gap: 15px;
    padding: var(--padding-elementos-nav);
}

aside {
    display: flex;
    flex-direction: column;
    width: 200px;
}

aside section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

aside section button {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    height: 50px;
}

aside section button img {
    z-index: 1;
}

main article {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
}

#container {
    display: flex;
    padding: var(--padding-elementos-nav);
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    width: 200px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
    padding-bottom: 10px;
}

.card img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    margin-left: 50px;
    width: 100%;
    width: 100px;
}

.delete {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-self: flex-end;
    margin: 5px;
    position: absolute;
}


.card:hover {
    transform: scale(1.5);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cantidad {
    background-color: #CACFD2;
    width: 75%;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    padding: 5px;
}

.cantidad button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
}
.btnHeart{
    border: none;
}
.cantidad button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cantidad button:active {
    border: 1px solid var(--primary-color);
}

.textCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap: 15px;
    padding: 5%;
    background-color: rgba(219, 218, 218, 0.349);
}

.imgFooter {
    width: 150px;
    height: 25px;
    object-fit: cover;
}

li {
    list-style: none;
}
.star{
    margin-right: 48px;
}

/*administrador form*/
.asideAdm {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}

#form {
    display: flex;
    flex-direction: column;
    width: 304px;
}

.input {
    background-color: #48c9af1e;
    border: none;
}

.btn--submit {
    background-color:rgb(6, 219, 102);
    color: white;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
}

.btn--editar {
    background-color: rgb(187, 179, 179);
    color: white;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}
.hidden{
    display: none;
}

@media(max-width:634px) {
    .navbar1 p {
        font-size: 10px;
        padding-left: 35px;
        padding-top: 10px;
    }

    input {
        width: 200px;
        height: 30px;
        margin-top: 6px;
    }

    .ubicate {
        display: none;
    }

    li {
        display: none;
    }

    .allCategories {
        margin-top: 10px;
    }

    .imgMain {
        padding: 5%;

    }

}

@media(max-width:501px) {
    .navbar1 p {
        font-size: 10px;
        padding-left: 35px;
        padding-top: 10px;
    }

    .navbar2 .logo {
        display: none;
    }

    input {
        width: 200px;
        height: 30px;
        margin-top: 6px;
    }

    .ubicate {
        display: none;
    }

    li {
        display: none;
    }

    .allCategories {
        margin-top: 10px;
    }

    main {
        display: flex;
        gap: 15px;
        padding: var(--padding-elementos-nav);
    }



    aside section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 100px;
    }


    main article {
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    aside section {
        display: none
    }









}